section.coral {
  padding-inline: 16px;
  padding-block: 20px;

  @media (min-width: 992px) {
    padding-inline: 0;
    padding-block: 40px;
  }

  h1.info-actions-title {
    margin: 0;
    // Стили CMS задают размер H1 через !important.
    font-size: clamp(28px, 4vw, 32px) !important;
  }

  @media (width < 768px) {
    h1.info-actions-title {
      // Стили CMS задают интерлиньяж H1 через !important.
      line-height: 1.2 !important;
    }
  }
}
